.header {
    background-color: #E0FFE0;
}

.code-area {
    height: 400px;
}

.letter-container {
    display: inline-block;
    position: relative;
    padding:10px;
    height:45px;
    text-align: center;
}

.letter-print {
    display: block;
    margin-top: -5px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 20px;
}

.dot {
    	display: inline-block;
    	position: relative;
    	height: 15px;
    	width: 15px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #000099;
        margin-top:8px;
        margin-bottom:7px;
        margin-left: 2px;
        margin-right: 2px;
    }

.dash {
    	display: inline-block;
    	position: relative;
    	height: 10px;
    	width: 30px;
    	margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 2px;
        margin-right: 2px;
        background-color: #000099;
    }

.space {
    	display: inline-block;
    	position: relative;
    	height: 30px;
    	width: 36px;
        background-color: #FFFFFF;
    }

.table-custom {
    padding: 1px;
}